@charset "utf-8";

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/bulma';
@import '~bulma-checkradio';
@import '~@loopmode/scss-variate';

$sizes: (0, 0.75rem, 1.5rem, 3rem);
html body #app .App {
  @include variate(margin, $sizes);
  @include variate(padding, $sizes);
}

.is-v-centered {
  align-items: center;
}
.is-flex-1 {
  flex: 1;
}
.is-flex > .is-pulled-right {
  float: none !important;
  margin-left: auto;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .is-#{$i};
    &:not(.subtitle) {
      @extend .title;
    }
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
